.SpellCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2px 16px;
}

.CardDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/* Tabs */
.tab-list {
  width: fit-content;
  min-width: 100%;
  display: flex;
  gap: 0.5em;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #eee;
  color: #888;
}
.tab-list li {
  display: block;
  margin-bottom: -2px;
}
/* tab button */
.tab-btn {
  font: inherit;
  padding: 0.75em 1em;
  background-color: transparent;
  border: 2px solid var(--tab-border-color);
  border-width: 0 0 2px;
  cursor: pointer;
  color: inherit;
  white-space: nowrap;
}
.tab-btn:not(.tab-btn--active):hover {
  color: var(--site-text-color);
}
.tab-btn--active {
  color: var(--tab-text-color--highlight);
  border-color: var(--tab-text-color--highlight);
}
/* tab panel */
.tab-panel {
  margin-top: 1em;
  padding: 1em;
  background-color: var(--tab-panel-bg-color);
  border-radius: 0.5em;
}
